@use "../../../../styles/colours";

.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid colours.$input-border;
}

.input {
  margin: 1.5rem 0 0 0;
}

.firstInput {
  margin: 0;
}

.submitButton {
  background-color: colours.$primary-button;
  color: colours.$white;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0 0 0;

  &:hover {
    background-color: colours.$primary-button-hover;
  }
}

.detailsDisplay,
.addDetails {
  border-top: 1px solid colours.$separator;
  padding: 1.5rem 0;
  margin-top: 1.5rem;
}

.detail {
  color: colours.$text-dark;
  margin: 1.5rem 0 0 0;
}

.detailLabel {
  font-weight: bold;
}

.detailValue {
  font-weight: normal;
}

.field2Details {
  margin-top: 0;
}

.removeDetailsButton {
  background-color: colours.$secondary-button;
  color: colours.$text-dark;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0 0 0;
  border: none;

  &:hover {
    background-color: colours.$secondary-button;
    border: 2px solid colours.$input-border;
  }
}

.addDetailsButton {
  background-color: colours.$white;
  color: colours.$text-dark;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0;
  border: 2px solid colours.$input-border;

  &:hover {
    border: 2px solid colours.$black;
  }
}

.addDetailsButtonText {
  margin: 0 0 0 0.5rem;
}

.detailsError {
  color: colours.$text-error;
}

.submitButton {
  background-color: colours.$primary-button;
  color: colours.$white;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0;

  &:hover {
    background-color: colours.$primary-button-hover;
  }
}
