$white: #ffffff;
$black: #000000;
$bg-nav: #236b81;
$text-dark: #333d3f;
$input-border: #6f8083;
$separator: #eaeaea;
$outline-focus: #003366;
$text-error: #ea0e0e;
$primary-button: #003366;
$primary-button-hover: #29639e;
$secondary-button: #e8e6e6;
